* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.nav {
    width: 100%;
    background: rgb(23, 23, 166);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.nav img{
    width: 50px;
    height: 50px;
}

.right .btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.logBtn {
    background:white;
    color: blue;
}

.regBtn {
    background: rgb(173, 173, 16);
    color: white;
}
.mod {
    display: none;
    position: sticky;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    animation: pop .3s ease;
}

@keyframes pop {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
}

.submit {
    width: 100%;
    padding: 10px;
    background: rgb(11, 114, 185);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    margin-top: 10px;
    color: rgb(11, 114, 185);
    cursor: pointer;
    font-weight: 600;
}
